useDynLib(eiR)

import(tools,snow,snowfall,digest,DBI,methods)
import(ChemmineR)


export("eiInit","eiMakeDb","eiQuery","eiAdd","eiPerformanceTest","eiCluster")

export("setDefaultDistance","addTransform")

export("loadLSHData","freeLSHData")
