useDynLib(eiR)

import(tools,snow,snowfall,digest,DBI,methods)
import(RcppAnnoy)
import(ChemmineR)

importFrom("stats", "aggregate", "cmdscale", "optim")
importFrom("utils", "head", "read.table", "str", "write.table")



export("eiInit","eiMakeDb","eiQuery","eiAdd","eiPerformanceTest","eiCluster")

export("setDefaultDistance","addTransform")

#leave these, but mark deprecated
export("loadLSHData","freeLSHData")
