useDynLib(eiR)

import(gespeR)
import(tools,snow,snowfall,digest,DBI,methods)
import(RcppAnnoy)
import(ChemmineR)


export("eiInit","eiMakeDb","eiQuery","eiAdd","eiPerformanceTest","eiCluster")

export("setDefaultDistance","addTransform")

#leave these, but mark deprecated
export("loadLSHData","freeLSHData")
